body {
  font-family: "Poppins", sans-serif;
  background-color: #f7f7f7;
  letter-spacing:  -.8px;
}


.max-width-container {
  max-width: 1200px;
  margin: 0 auto;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }


  /* #img-bg  {
    background-image :linear-gradient(#eb01a595, #d1363108), url("https://images.unsplash.com/photo-1718114885158-a3157f5fc443?q=80&w=3400&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
   */
